<!DOCTYPE html>
<html>
<head>
    <title>Add Person</title>
</head>
<body>
    <h2>Cycle Information</h2>
    <form action = "/savecycledetails" method="post">
    <table>
        <tr><td>Model Name</td><td><input type="text" name="model_name"></td></tr>
      <tr><td>Model Number</td><td><input type="text" name="model_number"></td></tr>
        <tr><td>Station Id</td><td><input type="integer" name="stationId"></td></tr>
        <tr><td>Address</td><td><input type="text" name="address"></td></tr>
        <tr><td><input type="submit" value="Submit"></td></tr>
    </table>
    </form>
</body>
</html>