<!DOCTYPE html>
<html>
<head>
    <title>home</title>
</head>
<body>
    <h2>Hi, welcome to the website Below are the links for the registered person</h2>
    <a href="/add">Add Person</a><br><br>
    <a href ="/view">List Person Records</a><br><br>
    <a href="/delete">Delete Person Record</a><br><br>
    <a href="/update">Update Person Location</a><br><br>
<h2>Hi, welcome to the website Below are the links for the Station</h2>
    <a href="/add-station">Add Station</a><br><br>
    <a href ="/view-station">List Station Records</a><br><br>
    <a href="/update-cycle">Update Cycle Location</a><br><br>
    <a href="/delete-station">Delete Station Record</a><br><br>
<h2>Hi, welcome to the website, Below are the links for the Cycle</h2>
    <a href="/add-cycle">Add Cycle</a><br><br>
    <a href ="/view-cycle">List Cycle Records</a><br><br>
    <a href="/delete-cycle">Delete Cycle Record</a><br><br>
</body>
</html>