<!DOCTYPE html>
<html>
<head>
    <title>Add Station</title>
</head>
<body>
    <h2>Station Information</h2>
    <form action = "/savecycledetails" method="post">
    <table>
        <tr><td>Station Name</td><td><input type="text" name="station_name"></td></tr>
      <tr><td>Latitude</td><td><input type="float" name="lat"></td></tr>
        <tr><td>Longitude</td><td><input type="float" name="lng"></td></tr>
        <tr><td>Address</td><td><input type="text" name="address"></td></tr>
        <tr><td><input type="submit" value="Submit"></td></tr>
    </table>
    </form>
</body>
</html>